.wholePizza {
  opacity: 0;
  animation: pizzaGroupAnimation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes pizzaGroupAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.pizzaGoLogo img {
  width: 300px;
  padding-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 940px) {
  .pizzaGoLogo img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 740px) {
  .pizzaGoLogo img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.pizzaGoSummary {
  font-size: 25px;
  width: 850px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 940px) {
  .pizzaGoSummary {
    width: 650px;
    font-size: 20px;
  }
}
@media (max-width: 740px) {
  .pizzaGoSummary {
    width: 350px;
    font-size: 16px;
  }
}

.GroupInfo {
  text-align: center;
}

.pizzaHomePage img {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
  box-shadow: 0 40px 70px rgba(2, 0, 12, 0.192);
}
@media (max-width: 940px) {
  .pizzaHomePage img {
    width: 500px;
  }
}
@media (max-width: 740px) {
  .pizzaHomePage img {
    width: 300px;
  }
}

.pizzaWhole img {
  width: 300px;
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 940px) {
  .pizzaWhole img {
    width: 250px;
  }
}
@media (max-width: 740px) {
  .pizzaWhole img {
    width: 150px;
  }
}

.pizzaGoComp img {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 940px) {
  .pizzaGoComp img {
    width: 400px;
  }
}
@media (max-width: 740px) {
  .pizzaGoComp img {
    width: 300px;
  }
}

.headerSub {
  font-size: 45px;
  color: #3363ff;
  text-align: center;
}
@media (max-width: 940px) {
  .headerSub h2 {
    font-size: 35px;
    text-align: center;
  }
}
@media (max-width: 740px) {
  .headerSub h2 {
    font-size: 18px;
    text-align: center;
  }
}
