.CardGroup {
  padding: 40px 0 40px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  grid-gap: 50px;
  justify-items: center;
  opacity: 0;
  animation: cardGroupAnimation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes cardGroupAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Cards h2 {
  padding-top: 150px;
  margin: 50px 20px;
  font-size: 40px;
  text-align: center;
  font-weight: 700px;
  background: linear-gradient(104deg, #000000 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  animation: h2GroupAnimation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes h2GroupAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (max-width: 940px) {
  .Cards h2 {
    font-size: 30px;
  }
}
@media (max-width: 740px) {
  .Cards h2 {
    font-size: 24px;
  }
}

.breakdown {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.918);
  padding: 9px 20px;
  border: 1px solid rgba(0, 0, 0, 0.212);
  border-radius: 20px;
  transition: cubic-bezier(0.2, 0.8, 0.2, 1);
}
.breakdown:hover {
  transform: translateY(-20px);
  box-shadow: 0 40px 70px rgba(2, 0, 12, 0.377);
}
