@import url('https://fonts.googleapis.com/css?family=Bangers|ZCOOL+KuaiLe');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  text-align: left;
}
@media (max-width: 940px) {
  body {
    font-size: 25px;
  }
}
@media (max-width: 740px) {
  body {
    font-size: 16px;
  }
}

a {
  color: #3363ff;
  text-decoration: none;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-family: 'Bangers', cursive;
}
a:hover {
  color: transparent;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.textGroup h1 {
  font-size: 40px;
}
@media (max-width: 940px) {
  .textGroup h1 {
    font-size: 30px;
  }
}
@media (max-width: 740px) {
  .textGroup h1 {
    font-size: 20px;
  }
}

.textGroup {
  padding: 80px;
  opacity: 0;
  animation: textGroupAnimation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes textGroupAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (max-width: 940px) {
  .textGroup {
    padding: 70px 70px 70px 60px;
  }
}
@media (max-width: 740px) {
  .textGroup {
    padding: 65px 65px 65px 40px;
  }
}

.foota {
  text-align: center;
  padding: 40px;
  font-size: 16px;
}
