@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}
@media (max-width: 840px) {
  body {
      
      font-size: 25px;
  } 
}
@media (max-width: 740px) {
  body {
      
      font-size: 20px;
  } 
}



a {
  color: #3363ff;
  text-decoration: none;
  font-weight: 750px;

}
a:hover{
  color: transparent;
  text-shadow: 0 0 15px rgba( 0, 0, 0, 0.5);
}

.textGroup h1 {
  font-size: 35px;
}

.textGroup {
  padding: 80px;
  opacity: 0;
  animation: textGroupAnimation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)
}
@keyframes textGroupAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}





.foota {
  text-align: center;
  padding: 40px;
  font-size: 16px;
}



